<ion-header class="ion-no-border">
  <ion-toolbar>
   <ion-buttons slot="start">
    <ion-button color="primary" routerLink="/profile">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div id="header">
  <h1>Update your<br   /> Account</h1>
</div>

<form id="form">
  <app-input placeholder="Your Name"></app-input>
  <app-input slot="icon-only" placeholder="Date of Birth" icon="date"></app-input>
  <app-input type="email" placeholder="Email ID"></app-input>
  <app-input type="password" placeholder="Password"></app-input>
  <app-input type="number" placeholder="Contact Number"></app-input>
  <ion-button expand="block" shape="round" routerLink="/profile">Update</ion-button>
</form>
<p>By pressing "Update" your personal <br/>information will be updated.</p>
</ion-content>
